<div class="container-fluid">
	<div class="container">
		<h2 class="text-center" id="title">Account</h2>
		 <p class="text-center">
			<small class="text-muted">View or edit your account details</small>
		</p>
		<hr />
		<div class="d-flex" id="wrapper">
			<div class="bg-light border-right" id="sidebar-wrapper">
			  <div class="list-group list-group-flush">
				<a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
				<a href="#" class="list-group-item list-group-item-action bg-light">Bank Accounts</a>
				<a href="#" class="list-group-item list-group-item-action bg-light">Trades</a>
				<a href="#" class="list-group-item list-group-item-action bg-light">Transactions</a>
				<a href="#" class="list-group-item list-group-item-action bg-light">Documents</a>
			  </div>
			</div>

			<div id="page-content-wrapper">
			  <div class="container-fluid">
				<h1 class="mt-4">Profile</h1>
				<p>First name: xxx</p>
				<p>Last name: yyy</p>
			  </div>
			</div>
		
		</div>
		<br>
	</div>
</div>