
<div class="site-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8 mb-5">
				<form action="#" class="p-5 bg-white">
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="font-weight-bold" for="fullname">Title</label>
							<input type="text" id="fullname" class="form-control" placeholder="Trade 1000 euros by Bank">
						</div>
					</div>
					<div class="row form-group mb-5">
						<div class="col-md-12 mb-3 mb-md-0">
							<label class="font-weight-bold" for="fullname">Amount</label> 
							<input type="text" id="fullname" class="form-control" placeholder="1000">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<h3>Payment Mehtod</h3>
						</div>
						<div class="col-md-12 mb-3 mb-md-0">
							<label for="option-job-type-1"> 
								<input type="radio" id="option-job-type-1" name="job-type"> Bank
							</label>
						</div>
						<div class="col-md-12 mb-3 mb-md-0">
							<label for="option-job-type-2"> 
								<input type="radio" id="option-job-type-2" name="job-type"> Cash
							</label>
						</div>
					</div>
					<div class="row form-group mb-4">
						<div class="col-md-12">
							<h3>Location</h3>
						</div>
						<div class="col-md-12 mb-3 mb-md-0">
							<input type="text" class="form-control" placeholder="New York City">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<h3>Description</h3>
						</div>
						<div class="col-md-12 mb-3 mb-md-0">
							<textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<input type="submit" value="Post" class="btn btn-primary py-2 px-5">
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-4">
				<div class="p-4 mb-3 bg-white">
					<h3 class="h5 text-black mb-3">Contact Info</h3>
					<p class="mb-0 font-weight-bold">Address</p>
					<p class="mb-4">Addres, City, Country</p>

					<p class="mb-0 font-weight-bold">Phone</p>
					<p class="mb-4"><a href="#">+1 123 456 789</a></p>

					<p class="mb-0 font-weight-bold">Email</p>
					<p class="mb-0"><a href="#">youremail@domain.com</a></p>
				</div>
				<div class="p-4 mb-3 bg-white">
					<h3 class="h5 text-black mb-3">Discuss</h3>
					<p>You can talk with the user.</p>
					<p><a href="#" class="btn btn-primary  py-2 px-4">Message</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
