<div class="container-fluid">
	<div class="container">
		<h2 class="text-center" id="title">Account</h2>
		 <p class="text-center">
			<small id="passwordHelpInline" class="text-muted">Sign in using your account or create a new one.</small>
		</p>
		<hr />
		<div class="row">
			<div class="col-md-5">
				<form id="user-form" name="user-form" role="form">
					<fieldset>							
						<p class="pull-center">Sign up</p>
						<div class="form-group">
							<input type="text" name="firstname" id="firstname" class="form-control input-lg" placeholder="First name">
						</div>
						<div class="form-group">
							<input type="text" name="lastname" id="lastname" class="form-control input-lg" placeholder="Last name">
						</div>
						<div class="form-group">
							<input type="text" name="birthdate" id="birthdate" class="form-control input-lg" 
								onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Birthdate">
						</div>
						<div class="form-group">
							<input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
						</div>

						<div>
							<input type="submit" class="btn btn-md" value="Register">
						</div>
					</fieldset>
				</form>
			</div>
			
			<div class="col-md-2"></div>
			
			<div class="col-md-5">
				<form role="form">
					<fieldset>							
						<p>Sign in</p>			
						<div class="form-group">
							<input type="email" name="username" id="username" class="form-control input-lg" placeholder="Username or email">
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
						</div>
						<div>
							<input type="submit" class="btn btn-lg btn-primary" value="Sign In">
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
	</div>
	<p class="text-center">
		<small id="passwordHelpInline" class="text-muted">Forgot your password? <a href="#password-reset">Click here</a>.</small>
	</p>
</div>